#root {
  
  font-family: "Almarai", sans-serif;
  font-family: "Cabin", sans-serif;
  font-family: "Exo", sans-serif;
  font-family: "Indie Flower", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-family: "Maven Pro", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Serif Display", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Qahiri", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
}